<script src="{{ 'orangy-collection-product.js' | asset_url }}" defer="defer"></script>

<div class="productions">
      <img class="product__image"
        src="{{ card_product.featured_media|image_url: height:460  }}"
        loading="lazy"
        width="{{ product.featured_media.width }}"
        height="{{ product.featured_media.height }}"
      >
    <div class="category">{{ card_product.type }}</div>
    <div class="product__name">{{ card_product.title | escape }}</div>
    <div class="product__price__all"> 
      {% if card_product.price %}
        {% if card_product.compare_at_price %}
          <div class="product__price__old">{{ card_product.compare_at_price | money }}</div>
          <div class="product__price__new">{{ card_product.price | money }}</div>
        {% else %}
          <div class="product__price">{{ card_product.price | money }}</div>
        {% endif %}
      {% endif %}
      </div>
      <div class="voucher">
        <ul>
          {% for tag in card_product.tags %}
            {% if tag == 'selling fast' %}
              <li class="voucher__sell">{{ tag }}</li>
            {% endif %}
          {% endfor %}
          {% for tag in card_product.tags %}
            {% if tag == 'new' %}
              <li class="voucher__new">{{ tag }}</li>
            {% endif %}
          {% endfor %}
          {% for tag in card_product.tags %}
            {% if tag == 'voucher' %}
              {% if card_product.price and card_product.compare_at_price %}
                {% assign price = card_product.price | money_without_currency | remove: ',' | plus: 0 %}
                {% assign compare_at_price = card_product.compare_at_price | money_without_currency | remove: ',' | plus: 0 %}
                {% assign discount_amount = compare_at_price | minus: price %}
                {% assign discount_percentage = discount_amount | divided_by: compare_at_price | times: 100 %}
              {% endif %}
              <li class="product__voucher">
                {% comment %} {{ discount_percentage | round: 2 }}% {% endcomment %}
                 30%
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% comment %} {% if product.product__selling %}
      <p class="voucher__sell">{{ product.product__selling }}</p>-
    {% endif %}
  
    {% if product.product__voucher %}
      <p class="product__voucher">{{ product.product__voucher }}</p>
    {% endif %}
  
    {% if product.product__new %}
      <p class="voucher__new">{{ product.product__new }}</p>
    {% endif %} {% endcomment %}