
{{ 'style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'orangy-faq.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'orangy-collection-product.js' | asset_url }}" defer="defer"></script>
{{ 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' | stylesheet_tag }}


<div class="product__title__all">
  <div class="product__menu" data-aos="fade-up-right">
    <div class="product__menu__left">
      <h1>Our picks for you</h1>
    </div>
    {% comment %} in ra tab menu  {% endcomment %}
    <div class="product__menu__right"> 
      {% for collection in section.settings.collections_menu %}
        <a href="?category={{ collection.handle }} " class="category-link" data-category="{{ collection.handle}}">
          {{ collection.title | upcase }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% for collection in section.settings.collections_menu %}
<div class="product__gird__list collection-container" data-category="{{ collection.handle }}" style="display: none;">
  <ul  class="product__gird"data-aos="flip-left">
    {% for product in collections[collection.handle].products limit: section.settings.products_to_show %}
    <li class=" production-item product-wrapper  "  data-index="{{ forloop.index0 }}">
      {% render 'orangy-card-product',
        card_product: product,
      %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endfor %}

{% schema %}
{
  "name": "OrangyFeatured Collection",
  "settings": [
    {
      "type": "collection_list",
      "id": "collections_menu",
      "label": "select Collections",
      "limit": 10
    },
        {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    

    {
      "type": "range",
      "id": "products_to_show",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 4,
      "label": "Number of Products to Show"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View All' Button",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Orangy Featured Collection"
    }
  ]
}
{% endschema %}