{{ 'style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'orangy-faq.js' | asset_url }}" defer="defer"></script>
{{ 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="section-{{ section.id }}-padding faq-all" >
<div
    class="faq"
    data-aos="fade-left"
    data-aos-anchor="#example-anchor"
    data-aos-offset="500"
    data-aos-duration="500"
  >
    <div class="faq__title">
      <h1>{{ section.settings.title }}</h1>
    </div>
    <div class="faq__menu">
      {% for block in section.blocks %}
        {% if block.type=="text_faq" %}
          <div class="faq__items" >
            <div class="faq__questions" >
              <h2>{{ block.settings.orangy_faq_question }}</h2>
              <div class="icon">
                <div class="icon-act icon-plus">
                  <i class="fa-solid fa-plus"></i>
                </div>
                <div class="icon-act icon-mins hide">
                  <i class="fa-solid fa-minus"></i>
                </div>
              </div>
            </div>
            <hr />
            <div class="faq__answer" >
              <p>
                {{ block.settings.orangy_faq_answer }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

  {% schema %}
{
    "name": "orangy inspiration",
    "tag": "section",
    "class": "orangy_inspiration",
    "settings": [
      {
        "type": "text",
        "label": "title",
        "id":"title",
        "default":"Discover more in our FAQs",
        "placeholder": "Discover more in our FAQs"   
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }          
    ],
    "blocks": [
      {
        "type": "text_faq",
        "name": "Text faq",
        "settings": [
          {
            "type": "text",
            "id": "orangy_faq_question",
            "label": "Text Question",
            "default": "Default text"
          },
          {
            "type": "richtext",
            "id": "orangy_faq_answer",
            "label": "Text Answer",
          },
        ]
      },
    ],

    "presets": [
      {
        "name": "Orangy FAQ",
      }       
  ]    
}
{% endschema %}