
{{ 'style.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="section-{{ section.id }}-padding">
<div class="wrapper__block" data-aos="fade-up" data-aos-duration="3000">
    <div class="wrapper__image">
            <img
                src="{{ section.settings.orangy_sale_image_1 | image_url: width: 533 }}"
                loading="lazy"
                width="{{ product.featured_media.width }}"
                height="{{ product.featured_media.height }}"
              >
    </div>
    <div class="wrapper__title">
      <div class="title__header">
        <p>{{ section.settings.text_1 }}</p>
      </div>
      <div class="title__body">
        <div class="title__body__primary">
          <h1>{{ section.settings.text_2 }}</h1>
        </div>
        <div class="title__body__text">
          <p>{{ section.settings.text_3 }}</p>
        </div>
      </div>
    </div>
    <div class="wrapper__image">
        <img
            src="{{ section.settings.orangy_sale_image_2 | image_url: width: 533 }}"
            loading="lazy"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
          >
    </div>
  </div>
</div>

  {% schema %}
{
    "name": "orangy sale block",
    "tag": "section",
    "class": "orangy-sale-block",
    "settings": [
        {
            "type": "text",
            "label": "text 1",
            "id":"text_1",
            "default":"SEASON SALE COLLECTIONS",
            "placeholder": "SEASON SALE COLLECTIONS"   
        },
        {
            "type": "text",
            "label": "text 2",
            "id":"text_2",
            "default":"SALE 30% OFF",
            "placeholder": "SALE 30% OFF"   
        },
        {
            "type": "text",
            "label": "text 3",
            "id":"text_3",
            "default":"Save extra on our sale collection *Runs until 14:00pm PST",
            "placeholder": "Save extra on our sale collection *Runs until 14:00pm PST"   
        },
        {
            "type": "image_picker",
            "id": "orangy_sale_image_1",
            "label": "orangy-sale-image_1"
        },
        {
            "type": "image_picker",
            "id": "orangy_sale_image_2",
            "label": "orangy-sale-image_2"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 36
        }

    ],
    "presets": [
        {
          "name": "Orangy Sale Block",
        }       
      ]
}
{% endschema %}