{{ 'style.css' | asset_url | stylesheet_tag}}

<div class="blog-banner__content" style="background-image: url({{ section.settings.article_banner.image.src | image_url: width: 3840 }}">
    <div class="blog-banner__content__date">{{ section.settings.article_banner.created_at | date: "%b %d, %Y" }}</div>
    <div class="blog-banner__content__title">{{ section.settings.article_banner.title }}</div>
    <a href="{{ section.settings.article_banner.url }}">LEARN MORE</a>
  </div>
  {% schema %}
    {
      "name": "Orangy Blog Banner",
      "tag": "section",
      "class": "orangy-blog-banner",
      "settings": [
        {
          "type": "article",
          "id": "article_banner",
          "label": "Article"
        }
      ],
      "presets": [
        {
          "name": "Orangy Blog Banner",
          "settings": {}
        }
      ]
    }
  {% endschema %}